body,
h1,
h2,
h3,
ul,
a {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;


}

a:visited {
    text-decoration: none;
    color: #F07E15;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.container-noticias {
    max-width: 979px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


@media (max-width: 500px) {
    .container {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
    }


    .imagem-noticias {
        display: none;
    }


    .texto-noticias a h3 {
        text-align: center;
        float: none;
        border-width: 100%;
    }

    .texto-noticias {
        margin: 0 7%;
    }

    .ultimas-noticias h1 {
        display: block;
        border-bottom: none #000000 0 !important;

    }
}




/* HEADER */
.menu {
    background: #000000;
    color: #F07E15;
    text-transform: uppercase;
    padding: 45px 0;

}

.menu .container {
    justify-content: space-between;
    align-items: center;
}

.menu h1 {

    font-size: 3em;
    font-weight: 100;
    display: flex;

}


.menu-nav {
    font-size: 1.5em;
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    padding: 10px;
    display: flex;

}

@media (max-width: 500px) {
    .menu {
        padding: 20px 0;
    }

    .menu .container {}

    .menu-nav {
        font-size: 1em;
        justify-items: center;
    }

    .menu-nav a {
        margin: 0 auto;
        display: block;
        padding: 5px;
    }

    .ultimas-noticias h1 {
        font-size: 3em;
        text-transform: uppercase;
        color: #F07E15;
        font-weight: 100;
        text-align: center;
        border-bottom: 2px solid;
        margin: 0 10% !important;

    }


}

/* INTRO */
.intro {
    background: url("../img/berserk-novidades-outubro.jpg") center center no-repeat;
    background-size: cover;
    padding: 125px 0;
    max-width: 100%;
}

.intro h1 {
    text-align: center;
    color: #F07E15;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
}

.intro p {
    text-align: center;
    font-size: 1.5em;
    margin-top: 23px;
    font-style: italic;
}

.intro span {
    color: #F07E15;
}

@media (max-width: 500px) {
    .intro {
        padding: 75px 0;
    }

    .intro p {
        font-size: 1em;
        width: 200px;
        margin: 0 auto;
    }

}

/* NOVIDADES */

.novidades {
    padding: 69px 0;

}


.novidades h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    font-weight: 100;
    margin-bottom: 69px;
}

.novidades-item img {
    max-width: 100%;
    display: block;

}

.novidades .container {
    justify-content: space-around;
}

.novidades-item p {
    background-color: rgba(0, 0, 0, .8);
    padding: 5px;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    color: #F07E15;
    position: relative;
    top: -62px;
    margin-bottom: -62px;
}

.novidades-texto {
    text-align: center;
    color: #000000;
    font-size: 1.125em;
    max-width: 517px;
    margin: 81px auto;
}

.novidades>a {
    display: block;
    max-width: 478px;
    margin: 0px auto;
    font-size: 3em;
    padding: 46px 0;
    text-transform: uppercase;
    text-align: center;
    background: #000000;
    border: 2px solid #F07E15;
}

.novidades>a:hover {
    background: rgba(233, 169, 8, .2);
}

@media (max-width: 500px) {
    .novidades .container {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 243px;

    }

    .novidades-item {
        margin-top: 10px;
    }

    .novidades-texto {
        padding: 0 50px;
        margin: 50px 0;
    }

    .novidades>a {
        max-width: 300px;
        padding: 23px 0;
    }

    .novidades h1 {
        margin-bottom: 35px;
    }
}

/* NOTICIAS */


.ultimas-noticias {
    background-color: #000000;
    color: #fff;
    padding: 69px 0;
}


.ultimas-noticias h1 {
    max-width: 979px;
    margin: 0 auto;
    font-size: 3em;
    text-transform: uppercase;
    color: #F07E15;
    font-weight: 100;
    display: block;
    text-align: center;
    border-bottom: 2px solid;
    border-width: 100%;

}





.noticias {
    margin-top: 59px;
    display: flex;

}


.noticias img {
    display: block;
}

.imagem-noticias {
    margin-right: 39px;

}

.texto-noticias h3 {
    font-size: 1.5em;
    color: #F07E15;
    padding: 5px 0;
    border-bottom: 2px solid #F07E15;
    float: left;

}

.texto-noticias a {
    display: contents;
}

.noticias p {
    font-size: 1.125em;
    font-weight: 100;
    max-width: 701px;
    float: left;


}

/* FOOTER */

.footer {
    padding: 10px 0;
    color: #F07E15;
    font-size: 1em;
    line-height: 1.4em;


}

.footer .container {
    justify-content: space-between;
    align-items: center;
}



.footer-texto span {
    font-style: italic;
}